body {
    font-family: 'Poppins', sans-serif;
}

.banner-custom-css .pbtn {
    opacity: 1;
}

.soft-color-h1 {
    color: #1D1D1D;
}

.soft-color-h4 {
    font-size: 25px;
    color: #4A4A4A;
    font-weight: 600;
}

.elearning-p-color {
    color: #777777;
}

@media (max-width: 991px) {
    .soft-register-info {
        text-align: center !important;
    }
    .banner-custom-css {
        padding-top: 150px;
    }
    .successfull-students {
        text-align: center !important;
    }
}

@media (max-width: 767px) {
    .successfull-students {
        text-align: center !important;
    }
    .banner-custom-css {
        padding-top: 50px;
        font-size: 15px;
        font-weight: 300 !important;
    }
    .banner-custom-css h1 {
        font-size: 24px;
    }
}